<div class="container">
    <form class="form" action="/add-expression" method="POST">
        <div class="form-group">
            <label for="expressionInput">Введите выражение</label>
            <input type="text" class="form-control" id="expressionInput" name="expression" placeholder="выражение">
            <small id="expressionHelp" class="form-text text-muted">Поддерживаются операции +,-,*,/. Скобки и другие
                операции недоступны.</small>
        </div>
        <button type="submit" class="btn btn-primary">Отправить</button>
    </form>
</div>